alembic==1.7.5
altgraph==0.17.2
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
pefile==2021.9.3
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
python-dotenv==0.19.2
python-http-client==3.3.4
pywin32-ctypes==0.2.0
sendgrid==6.9.2
SQLAlchemy==1.4.28
starkbank-ecdsa==2.0.3
Werkzeug==2.0.2
